.transform-box {
  /* width:50%;
  margin:auto;
  margin-top:5%; */
  width:90vw;
  margin:auto;
  margin-top:5vh;
  display: flex;
}

.width-fit-transform{
  position: absolute;
  margin: auto;
  top: -68%;
  bottom: -80%;
  left: -88%;
  right: -80%;

  width: 72%;
  height: auto;

  /* top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;

  width: 100%;
  height: auto; */
  
  animation: resize 0.3s linear;
  animation-fill-mode: both;
  transform-origin: top left;
}

@keyframes resize {
  0% {
      transform: scale(1, 1);
  }
  100% {
      transform: scale(0.5, 0.5);
  }
}