.inner-box02{
  width:90vw;
  margin:auto;
  margin-top:5vh;
  display: flex;
}

.menu-box{
  width: 20vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home-box{
  border: 1vw solid white;
  border-radius: 4vw;
  position: relative;
  overflow: hidden;
  width: 40%;
  height: 0;
  padding-bottom: 25%;
  margin-left:5%;
}

.menu-box-item{
  width: 100%;
  height: 13vw;
  border: 1vw solid white;
  border-radius: 4vw;

}

.width-fit{
  position: absolute;
  margin: auto;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;

  width: 100%;
  height: auto;
}